<div class="ui secondary pointing menu">
        <div class="ui container">
          <a class="item">
                <span style="color:olive; font-weight: bold">LOGO</span> 
          </a>
     
          <div class="ui simple dropdown item">
                <i class="gb uk flag"></i>UK
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item"><i class="germany flag"></i> German</a>
              <a class="item"><i class="france flag"></i> French</a>
              <a class="item"><i class="spain flag"></i> Spanish</a>
            </div>
          </div>
          <div class="right item">
                <div class="ui simple dropdown item">
                        <i class="user md icon"></i>User Name
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <a class="item"><i class="edit icon"></i> Edit User Details</a>
                      <a class="item"><i class="envelope icon"></i>Messages</a>
                      <a class="item"><i class="lock icon"></i> Permissions</a>
                      <a class="item"><i class="user md icon"></i> Logout</a>
                    </div>
                  </div>
          </div>
        </div>
      </div>